Flask==3.1.0
SPARQLWrapper==2.0.0
spacy==3.8.5
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
owlready2==0.47
rdflib==7.1.4
requests==2.32.3
deep-translator==1.11.4
